<% layout('./layouts/boilerplate') -%>
<header>
    <%- include('./partials/navbar') %>
</header>
<main>
    <link rel="stylesheet" href="/stylesheets/sudoku.css">
    <div class="container my-4">
        <div class="row">
            <div class="col-xl-1">
                <!-- empty space -->
            </div>
            <div class="col-lg-6 col-xl-5 mb-2">
                <div class="sudoku-board mb-2 bg-primary">
                    <div class="sudoku-board-overlay">
                    </div>
                    <% for( let row = 1; row <= 9; row++ ) { %>
                        <div class="sudoku-row m-0 p-0">
                            <% for( let col = 1; col <= 9; col++ ) { %>
                                <span class="sudoku-square" id="sudoku-square-<%=row%>-<%=col%>">0</span>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="sudoku-numbers bg-success">
                    <% for( let i = 1; i <= 9; i++ ) { %>
                        <button type="button" class="sudoku-number-button" id="sudoku-number-button-<%=i%>"><%=i%></button>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 mb-2">
                <div class="sudoku-sideboard bg-secondary">
                    <div class="sudoku-menu">
                        <button type="button" class="sudoku-menu-button" id="sudoku-new-game-button">New Game</button>
                    </div>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A iusto veritatis tempore. Quia nihil voluptate, nam natus eos vero voluptas iusto nesciunt. Sit adipisci tempore excepturi et, soluta repellendus eius, consequuntur corporis reiciendis ipsam pariatur veniam eaque sint iste reprehenderit fugit harum delectus dolorem minima quasi voluptatem doloribus! Beatae, at.
                </div>
            </div>
            <div class="col-xl-1">
                <!-- empty space -->
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('./partials/footer') %>
</footer>
<script src="/scripts/sudoku.js"></script>